@using CAMS.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav ms-4">
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="d-flex flex-row">
        <li class="nav-item align-content-center m-2">
            <a class="notification border-0 position-relative" data-toggle="popover" title="Notifications">
                <i class="bi bi-bell-fill h4 text-black"></i>
                <span id="newNotification" class="d-none position-absolute bottom-50 start-50  bg-danger border border-light rounded-circle text-center text-white">
                    <span id="notificationCount" class="smallText"></span>
                </span>
            </a>
        </li>

        <li class="nav-item profile-nav">
            <a class="nav-link text-dark ms-2" asp-action="Profile" asp-controller="Account" title="Manage">@(UserManager.GetUserAsync(User).Result.FullName?.Split(' ').FirstOrDefault() ?? "User")</a>
        </li>
        <li class="nav-item me-3">
            <a asp-action="Profile" asp-controller="Account" title="Manage">
                    @if (UserManager.GetUserAsync(User).Result.ProfilePicture != null && UserManager.GetUserAsync(User).Result.ProfilePicture.Length > 0)
                    {
                    <img class="avatar rounded-circle" alt="profile picture"
                         src="data:image/*;base64,@(Convert.ToBase64String(UserManager.GetUserAsync(User).Result.ProfilePicture))" />
                    }
                    else
                    {
                    <img class="avatar rounded-circle" alt="profile picture" src="~/images/profile-def.png" />
                    }
            </a>
        </li>
        </div>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-action="Logout" asp-controller="Account">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-action="Register" asp-controller="Account">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-action="Login" asp-controller="Account">Login</a>
        </li>
    }
</ul>
