html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

body {
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}


/* ===================================== project cutomization ===================================== */

.inactive-row td {
    color: gray !important;
    opacity: 0.6 !important;
    transition: color 0.3s, opacity 0.3s;
}

.active-row td {
    color: black !important;
    opacity: 1 !important;
    transition: color 0.3s, opacity 0.3s;
}

/* -------------- Service Form --------------*/
.date-header {
    background-color: #a0db8a;
}

select, input {
    background-color: white !important;
}


/* -------------- Service Details --------------*/
/* style service dates tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #a0db8a;
}

    /* style dates buttons that are used to open Times Available content */
    .tab button {
        background-color: inherit;
        border: none;
        padding: 14px 0px;
        transition: 0.3s;
    }

        /* change background color of buttons on hover */
        .tab button:hover {
            background-color: #90C67C;
        }

        /* create an active/current tablink class */
        .tab button.active {
            background-color: #65b530;
            color: white;
            border-radius: 5px;
        }

/* style Times Available content */
.tabcontent {
    display: none;
    border: 1px solid #ccc;
    border-left: none;
    background-color: #F1F7E1;
}


/* -------------- Notification --------------*/

/* notification */
.notification {
    cursor: pointer;
}
/* notifications count */
.smallText {
    font-size: 12px;
    position: absolute;
    top: 0;
}

.notifAbove10 {
    left: 5px;
}

.notifbelow10 {
    left: 8px;
}
/* notifications list */
.popover {
    min-width: 300px;
    cursor: pointer;
}

/* to center dataTables columns*/
.text-center {
    text-align: center;
}

#newNotification {
    width: 24px;
    height: 24px;
}

#notificationCount {
    padding-top: 2px;
}
/*-------------- Home --------------*/
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.home-img {
    width: 100%;
    height: 700px !important;
    object-fit: cover;
}


/* -------------- Number Input --------------*/

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* -------------- Profile Picutre --------------*/

.nav-item {
    display: flex;
    align-items: center;
}

.avatar {
    height: 40px;
    width: 40px;
    object-fit: cover;
}

.pfp-container {
    display: flex;
    justify-content: center;
    position: relative;
    top: -70px;
    margin-bottom: -70px;
}

.pfp-parent {
    position: relative;
    width: 150px;
    height: 150px;
}

.pfp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(-20px);
    border-radius: 100%;
    width: 170px;
    height: 170px;
}

i.bi-camera-fill {
    position: absolute;
    bottom: 5px;
    right: 5px;
    border-radius: 50%;
    padding: 6px;
    font-size: 25px;
    cursor: pointer;
}

/* -------------- Header --------------*/
.profile-nav {
    margin-right: -25px;
}

@media only screen and (max-width: 997px) {
    .profile-nav {
        margin-right: 10px;
    }

    .navbar-brand {
        margin-left: 10px;
    }
}
