@model IEnumerable<AppointmentViewModel>

<div class="d-flex justify-content-between mb-4 mt-4">
    <h1>Active Appointments</h1>

    <a class="btn btn-primary align-self-center" asp-action="PendingAppointments">
        <i class="bi bi-calendar-event"></i>
        Pending Appointments
    </a>
</div>

@{
    var approvedAppointments = Model?.Where(a => a.Status == "Approved").ToList() ?? new List<AppointmentViewModel>();
}

@if (!approvedAppointments.Any())
{
    <h2 class="alert alert-warning">
        <i class="bi bi-exclamation-triangle"></i>
        No Appointments booked yet
    </h2>
}
else
{
    <div class="row">

        <table id="employeeActiveAppointments" class="table table-striped mt-4">
            <thead>
                <tr>
                    <th> Service </th>
                    <th> Customer </th>
                    <th> Date </th>
                    <th> Actions</th>
                </tr>
            </thead>
            <tbody></tbody>
            @* <tbody class="pendingAppointments"> *@
            @*     @foreach (var appointment in Model) *@
            @*     { *@
            @*         if (appointment.Status == "Approved") *@
            @*         { *@
            @*             <tr> *@
            @*                 <a class="text-black link-underline link-underline-opacity-0" asp-action="Details" asp-route-id="Id"> *@

            @*                 <td>@appointment.Name</td> *@
            @*                 <td>@appointment.Customer.FullName</td> *@
            @*                 <td>@appointment.Date</td> *@

            @*                 </a> *@
            @*                 <td> *@
            @*                     <a href="javascript:;" class="btn btn-success js-complete ms-1" data-id="@appointment.Id"> *@
            @*                         Finish *@
            @*                         <i class="bi bi-check"></i> *@
            @*                     </a> *@
            @*                 </td> *@
            @*             </tr> *@

            @*         } *@

            @*     } *@
            @* </tbody> *@
        </table>
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

@* //moved $('.js-complete') functionality to index.cshtml file in order to be functional*@

}
