@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" enctype="multipart/form-data" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.FullName" class="form-control" placeholder="Please choose your first name." />
                <label asp-for="Input.FullName" class="form-label"></label>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number."/>
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Input.ProfilePicture" class="w-100"></label>
            @if (Model.Input.ProfilePicture != null)
            {
                <img id="ProfilePicture" class="profile-picutre" alt="profile picture" src="data:image/*;base64,@(Convert.ToBase64String(Model.Input.ProfilePicture))" />
            }
            else
            {
                <img id="ProfilePicture" class="profile-picutre" alt="profile picture" src="~/images/profile-def.png" />
            }
            @*view the image when i upload it*@
            <div class="custom-file mt-2">
                <input type="file" accept=".jpg, .png" asp-for="Input.ProfilePicture" class="custom-file-input" onchange="document.getElementById('ProfilePicture').src = window.URL.createObjectURL(this.files[0])" />
                @*document.getElementById('profilePicture').src = window.URL.CreateObjectUrl(this.files[0]) gets the selected image and views it in the image tag*@
                @* accept="image/*" accepts any type of images*@
                <label class="custom-file-label" asp-for="Input.ProfilePicture"> Choose picture</label>
                <span asp-validation-for="Input.ProfilePicture" class="text-danger"></span>
            </div>

        </div>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
